#root {
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: "Mori-normal"; /* Replace with your preferred font name */
  src: url("./assets/font/moriGothic/MoriGothic-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Mori-bold"; /* Replace with your preferred font name */
  src: url("./assets/font/moriGothic/MoriGothic-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Mori-light"; /* Replace with your preferred font name */
  src: url("./assets/font/moriGothic/MoriGothic-Light.woff2") format("woff2");
}
body{
  overflow-x: hidden;
  overflow-y: hidden;
}
.canvas {
  position: sticky;
  top: 0px;
  z-index: 999;
}
.p-relative {
  position: relative;
}
.animationHeight {
  height: 300vh;
  margin-top: -35% !important;
}
div,
span,
p,
a {
  font-family: Mori-normal !important;
  letter-spacing: 0px !important;
}
.landingPage {
  position: relative;
  background-color: #ffffff !important;
  min-height: 100vh;
}
.h-center {
  display: flex;
  justify-content: center;
}
.v-center {
  display: flex;
  align-items: center;
}
.v-bottom {
  display: flex;
  align-items: end !important;
}

.signupOthers {
  position: relative;
  display: inline-block;
}
.signupOthers::before,
.signupOthers::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 0.5px; /* Adjust the line height as needed */
  background-color: #9b9b9b; /* Line color */
}

.signupOthers::before {
  top: 10px;
  left: -100px;
}

.signupOthers::after {
  bottom: 10px;
  left: 190px;
}
.MuiDialogActions-root.MuiDialogActions-spacing.MuiPickersLayout-actionBar.css-knqc4i-MuiDialogActions-root {
  /* display: none !important; */
}
span.MuiTypography-root.MuiTypography-overline.css-1hbyad5-MuiTypography-root {
  display: none !important;
}
.backButton {
  position: absolute;
  top: calc(50% - 27.5px);
  left: 8%;
}
.hover {
  cursor: pointer !important;
}
.d-flex {
  display: flex;
}
.blurBg {
  background-color: #fbfbfbed;
  backdrop-filter: blur(5px);
  box-sizing: content-box;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #ffffff, #0000004f, #ffffff);
  border-image-slice: 1;
  border-radius: 10px;
}
.brgradient {
  border-image: linear-gradient(to bottom, #ffffff, #0000004f, #ffffff);
  border-image-slice: 1;
  border-right: 1px solid;
}
.f-22-bold {
  font-family: Mori-bold !important;
  font-size: 22px !important;
}
.f-26-bold {
  font-family: Mori-bold !important;
  font-size: 26px !important;
}
.f-35-bold {
  font-family: Mori-bold !important;
  font-size: 35px !important;
}
.f-15-bold {
  font-family: Mori-bold !important;
  font-size: 15px !important;
}
.f-bold {
  font-family: Mori-bold !important;
}
.shadow {
  box-shadow: 6px 7px 11px #00000057;
}
.p-12 {
  font-size: 12px !important;
  color: #00000099 !important;
}
.p12BA {
  display: flex !important;
  justify-content: center;
  font-size: 12px !important;
  color: #9b9b9b;
  position: relative;
}
.p12BA::before {
  top: 9px;
  left: 26px;
}
.p12BA::after {
  bottom: 9px;
  left: 180px;
}
.p12BA::before,
.p12BA::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 0.5px; /* Adjust the line height as needed */
  background-color: #9b9b9b !important; /* Line color */
}
.mb-10 {
  margin-bottom: 10px;
}
.h100 {
  height: 100%;
}
.min100vh {
  min-height: calc(100vh - 185px);
}
.min100vh_h100vh {
  min-height: calc(100vh - 185px);
  /* height: calc(100vh - 185px); */
}
.owl-dots {
  display: none;
}
.owl-prev span,
.owl-next span {
  color: white;
}
.owl-prev {
  height: 40px;
  width: 40px;
  background: black !important;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 20px);
  left: -50px;
}
.owl-next {
  height: 40px;
  width: 40px;
  background: black !important;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 20px);
  right: -50px;
}
.hw100 {
  height: 100%;
  width: 100%;
}
.ofitt-cover {
  object-fit: cover;
}
.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
}
.pText {
  color: #065bce;
}
.pBg {
  background-color: #065bce;
}
.text-center {
  text-align: center;
}
.sticky {
  position: sticky;
  top: 0px;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: #0294ec !important;
  color: white !important;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: #0294ec8c !important;
  color: white !important;
}
.css-11mde6h-MuiPaper-root {
  background-color: unset !important;
  box-shadow: unset !important;
}
.space-between {
  justify-content: space-between;
  display: flex;
}
.f-14 {
  font-size: 14px !important;
}
.video220 {
  width: 100%;
  object-fit: cover;
  height: 220px;
  border-radius: 7px;
  background-color: #00000024;
}
.prelative {
  position: relative;
}
.pabsolute {
  position: absolute;
  top: 0px;
}
.space-between {
  justify-content: space-between;
  display: flex;
}
.circle {
  display: inline-block;
  background-color: #ffffff;
  height: 10px;
  width: 10px;
  border-radius: 25px;
}

#container {
  /* height: 200px; */
  /* margin-top: 50px; */
}

#ball-1{
  -webkit-animation-name: bounce;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}
#ball-2{
  -webkit-animation-name: bounce;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  margin-right: 5px;
  margin-left: 5px;
  
}
#ball-3{
  -webkit-animation-name: bounce;
  -webkit-animation-delay: 0.2s;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}
.mgif{
  width:50px
}
.css-4jnixx-MuiStack-root .MuiTextField-root{
  min-width: unset!important;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(-10px);
  }
  80%{
    transform: translateY(10);
  }
}
